<nav style="background: #f2f2f2; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
  <a href="/view/home" style="margin-right: 10px;">Home</a>
  <a href="/view/realtimeproducts">Productos en Tiempo Real</a>
</nav>

<h1>Productos en tiempo real</h1>

<form id="productForm">
  <input name="title" placeholder="Título" required />
  <input name="description" placeholder="Descripción" required />
  <input name="price" placeholder="Precio" type="number" required />
  <input name="code" placeholder="Código" required />
  <input name="stock" placeholder="Stock" type="number" required />
  <input name="category" placeholder="Categoría" required />
  <input name="status" type="checkbox" /> Activo
  <button type="submit">Agregar producto</button>
</form>
<br>
<div>
  <h2>Lista de productos</h2>
  <ul id="productList">
    {{#each products}}
    <li>
      <b>{{title}}</b> - {{description}} - ${{price}}
     <button onclick="deleteProduct('{{_id}}')">Eliminar</button>
    </li>
    {{/each}}
  </ul>
</div>
<div class="pagination">
  {{#if pagination.hasPrevPage}}
    <a href="?page={{pagination.prevPage}}">Anterior</a>
  {{/if}}

  <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>

  {{#if pagination.hasNextPage}}
    <a href="?page={{pagination.nextPage}}">Siguiente</a>
  {{/if}}
</div>
<script src="/js/realTimeProducts.js"></script>